.search { grid-area: search; }
.button { grid-area: button; }
.result { grid-area: result; }


body{
  background-color: gray;
  position: relative;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'search search search search search search'
    'button button button button button button'
    'result result result result result result';
  grid-auto-flow: row;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;



}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}



